* {
  font-family: "DM Serif Display", serif;
}
.hero {
  text-align: center;
}
h1,
h3 {
  font-family: "DM Serif Display", serif;
  color: white;
}

h1 {
  padding-top: 300px;
}
.image-one {
  background: url("src/chubeka.jpg") rgb(73, 72, 72);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  height: 1000px;
}
.image-two {
  background: url("src/swazi-mobilejpg.jpg"), rgb(73, 72, 72);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  height: 1000px;
}
.image-three {
  background: url("src/mlilwane.jpg") rgb(73, 72, 72);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  height: 1000px;
}

.content {
  padding: 30px;
  background-color: #6a605e;
  color: white;
  display: flex;
}
.content .col-md-6 {
  padding: 40px;
}
.content p {
  font-size: 18px;
}
footer {
  background-color: rgb(73, 72, 72);
  color: white;
  text-align: center;
  padding: 30px;
}
footer .footer-link {
  text-decoration: none;
  color: antiquewhite;
}
